@font-face {
    font-family: 'Questrial';
    src: url('../fonts/Questrial-Regular.ttf') format('truetype');
}

* {
    font-color: #dedede;
    -fx-text-fill: font-color;
    }
.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: 'Questrial', sans-serif;
    -fx-font-size: 22px;

    -fx-base: #363636;
    -fx-body-color: -fx-base;
    -fx-hover-base: derive(-fx-base, 10%);
    -fx-pressed-base: derive(-fx-base, 20%);
    -fx-background: #242424;
    -fx-accent: #ff7e14;
    -fx-control-inner: #363636;

    border-color: transparent;
    close-color: #fa4147;
    background-accent: derive(-fx-background, 5%);
    list-hover-color: derive(-fx-base, 15%)
}

/**
BUTTON, TOGGLE BUTTON, COMBO BOX
**/
.button, .toggle-button {
    -fx-background-color: -fx-body-color;
    -fx-background-radius: 50;
    -fx-border-color: border-color;
    -fx-border-radius: 50;
    -fx-pref-width: 160px;
    -fx-pref-height: 50px;
}
.button:hover, .toggle-button:hover, .toggle-button:selected:hover {
    -fx-body-color: -fx-hover-base;
}
.button:pressed, .toggle-button:pressed, .toggle-button:selected, .toggle-button:selected:pressed {
    -fx-body-color: -fx-pressed-base;
}
.button:default, #button-help {
    -fx-base: -fx-accent;
    -fx-border-color: transparent;
}
#button-close {
    -fx-base: close-color;
}
#button-begin {
    -fx-pref-width: 260px;
}
#button-logo {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-width: 67px;
}
.button-long {
    -fx-pref-width: 325px;
}
.button-media {
    -fx-pref-width: 50px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.button-window {
    -fx-font-size: 12px;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-border-color: transparent;
}
.toggle-image {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-base: -fx-accent;
  -fx-pref-width: 200px;
  -fx-pref-height: 163px;
}
.toggle-image:hover, .toggle-image:selected:hover {
  -fx-border-color: -fx-body-color;
}
.toggle-image:pressed, .toggle-image:selected, .toggle-image:selected:pressed {
  -fx-border-color: -fx-pressed-base;
}

/**
COMBO BOX
**/
.combo-box-base {
    -fx-background-color: -fx-body-color;
    -fx-background-radius: 50;
    -fx-border-color: border-color;
    -fx-border-radius: 50;
    -fx-pref-width: 160px;
    -fx-pref-height: 50px;
}
.combo-box-base:hover {
    -fx-body-color: -fx-hover-base;
}
.combo-box-base:pressed {
    -fx-body-color: -fx-pressed-base;
}
.combo-box .list-cell {
    -fx-background-colour: transparent;
}
.combo-box .list-cell:filled:selected {
    -fx-background-color: transparent;
}
.combo-box-popup .list-view {
    -fx-background-color: -fx-control-inner;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-pref-height: 150px;
    -fx-background-insets: 0, 1;
}
.combo-box-popup .list-view .list-cell {
    -fx-padding: 2 0 2 5;
    -fx-background-color: -fx-control-inner;
}
.combo-box-popup .list-view .list-cell:odd { -fx-background-color: -fx-control-inner;}
.combo-box-popup .list-view .list-cell:even { -fx-background-color: -fx-body-color;}
.combo-box-popup .list-view .list-cell:filled:hover, .list-view .list-cell:filled:selected:hover {
    -fx-base: -fx-accent;
    -fx-background-color: list-hover-color;
}
.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-base: -fx-accent;
    -fx-background-color: -fx-body-color;
}
.combo-long {
    -fx-pref-width: 320px;
}

/**
DIALOGUE PANE (ALERT)
**/
.dialog-pane {
    -fx-border-color: border-color;
    -fx-pref-width: 375px;
    -fx-pref-height: 240px;
}
.dialog-pane > .content.label {
    -fx-padding: 20 5 5 20;
    -fx-background-color: -fx-background;
}
.dialog-pane:header .header-panel {
    -fx-background-color: background-accent;
}
.dialog-pane > .button-bar > .container {
    -fx-padding: 0 20 20 0;
}

/**
IMAGE VIEW
**/
.image-view-media {
    -fx-opacity: 1.0;
}
.button-media:hover .image-view-media {
    -fx-opacity: 0.8;
}
#image-view-back {
    -fx-image: url("../images/forward-dark.png");
}
#image-view-play-pause {
    -fx-image: url("../images/pause-dark.png");
}
#image-view-forward {
    -fx-image: url("../images/forward-dark.png");
}
#image-view-volume {
    -fx-image: url("../images/volume-dark.png");
}

/**
LABEL
**/
.label-title {
    -fx-font-size: 48px;
}
.label-small {
    -fx-font-size: 16px;
}
#label-quiz-answer {
    -fx-pref-width: 150px;
    -fx-alignment: center-right;
}

/**
LIST VIEW
**/
.list-view {
    -fx-background-color: -fx-control-inner;
    -fx-border-color: border-color;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}
.list-view:focused {
    -fx-border-color: -fx-accent;
}
.list-view .list-cell {
    -fx-pref-height: 50px;
}
.list-view .list-cell:odd { -fx-background-color: -fx-control-inner;}
.list-view .list-cell:even { -fx-background-color: -fx-body-color;}
.list-view .list-cell:filled:hover, .list-view .list-cell:filled:selected:hover {
    -fx-base: -fx-accent;
    -fx-background-color: list-hover-color;
}
.list-view .list-cell:filled:selected {
    -fx-base: -fx-accent;
    -fx-background-color: -fx-body-color;
}

/**
PROGRESS BAR
**/
.progress-bar {
    -fx-background-color: -fx-control-inner;
    -fx-border-color: border-color;
}
.progress-bar > .bar {
    -fx-background-color: -fx-accent;
}
.progress-bar > .track {
    -fx-background-color: -fx-control-inner;
    -fx-border-color: border-color;
}
.progress-slider > .bar {
    -fx-pref-height: 10px;
    -fx-background-insets: 0;
}

/**
SCROLL BAR
**/
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: derive(-fx-base, -20%);
    -fx-border-color: transparent;
    -fx-background-radius : 0 5 5 0;
    -fx-border-radius : 0;
}
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;
}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-base: -fx-accent;
    -fx-background-color: -fx-body-color;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: -fx-hover-base;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: -fx-pressed-base;
}

/**
SLIDER
**/
.slider > .thumb {
    -fx-background-color: -fx-pressed-base;
}
.slider:focused > .thumb {
    -fx-background-color: -fx-pressed-base;
}
.slider > .thumb:hover {
    -fx-background-color: -fx-hover-base;
}
.slider-progress .track {
    -fx-background-color: transparent;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

/**
TAB-PANE, TAB
**/
.tab-pane {
    -fx-tab-min-width: 180px;
    -fx-tab-max-width: 180px;
    -fx-tab-min-height: 40px;
    -fx-tab-max-height: 40px;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
    -fx-body-color: -fx-background;
    -fx-background-color: -fx-body-color;
    -fx-base: -fx-accent;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
}
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-body-color: -fx-hover-base;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-body-color: -fx-base;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected:hover {
    -fx-body-color: -fx-hover-base;
}
.tab-pane .tab-header-area {
    -fx-padding: 10 0 0 55;
}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0 0 1 0;
    -fx-background-color: background-accent;
}

/**
TEXT AREA
**/
.text-area {
    -fx-font-size: 20px;
    -fx-background-radius: 5 5 5 5;
    -fx-border-color: border-color;
    -fx-border-radius: 5 5 5 5;
    -fx-text-box-border: -fx-control-inner;
}
.text-area .content {
    -fx-background-color: -fx-control-inner;
}
.text-area .scroll-pane {
    -fx-background-color: -fx-base;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: -fx-control-inner;
}
.text-area .scroll-pane .content {
    -fx-background-color: -fx-control-inner;
}
.text-area:focused {
    -fx-border-color: -fx-accent;
}

/**
TEXT FIELD
**/
.text-field {
    -fx-background-color: -fx-control-inner;
    -fx-background-radius: 50;
    -fx-border-color: border-color;
    -fx-border-radius: 50;
}
.text-field:focused, .combo-box-base:focused {
    -fx-border-color: -fx-accent;
}